<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body><h1>Birthdays</h1>
        
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Birthday</th>
                </tr>
            </thead>
            <tbody>
                {% if birthdays %}
                    {% for birthday in birthdays %}
                        <tr>
                            <td>{{ birthday.name }}</td>
                            <td>{{ birthday.month }}/{{ birthday.day }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">No birthdays yet</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        
        <h2>Add a Birthday</h2>
        <form action="/" method="post">
            <input autocomplete="off" autofocus name="name" placeholder="Name" type="text" required>
            <input name="month" placeholder="Month" type="number" min="1" max="12" required>
            <input name="day" placeholder="Day" type="number" min="1" max="31" required>
            <input type="submit" value="Add Birthday">
        </form>
    </body>
</html>
